body {
  font-family: "Baloo Bhaijaan 2", cursive;
}

nav {
  border: 2px solid blue;
  width: 100%;
  padding: 10px;
}

.square {
  border: 10px solid black;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

#circle {
  border: 10px solid purple;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
